---
pagination:
  data: collections.municipios_completos
  size: 1
  alias: municipio
  addAllPagesToCollections: true
permalink: "{{ municipio.departamento }}/{{ municipio.municipio }}/index.html"
tags:
  - municipio
---
{% extends "src/base2.njk" %}

{% block head %}

    <title>Lab Municipal | {{ municipio.municipio }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="/assets/css/ud-styles.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

{% endblock %}

{% block content %}
    <!-- Compartir Popup -->
    <div id="sharePopup" class="popup">
        <div class="popup-content">
            <span class="close" id="closeSharePopup">&times;</span>
            <br>
            <p>Difunde la información relevante con tus colegas, comunidad, o audiencia. Con MuniData, puedes compartir gráficos, mapas y perfiles municipales de manera fácil y rápida a través de redes sociales, enlaces directos, o descargas de datos. </p>
            <!-- Añade tus opciones para compartir aquí -->
        </div>
    </div>

    <!-- Guia Popup -->
    <div id="guiaPopup" class="popup">
        <div class="popup-content">
            <span class="close" id="closeGuiaPopup">&times;</span>
            <br>
            <h4>Guía de Datos</h4>
            <p>La Guía de Datos de MuniData está diseñada para ayudarte a interpretar y aprovechar al máximo la información disponible. Aquí encontrarás definiciones claras de cada indicador, explicaciones sobre su origen y metodología, así como consejos prácticos para su aplicación en la toma de decisiones y la formulación de políticas públicas. Navegar por los datos nunca ha sido tan intuitivo y accesible.</p>
            <p>Debido a la limitada, retrasada o inexacta recolección de información, así como a una muestra limitada y potencialmente sesgada, los datos para este municipio pueden contener inexactitudes. Nuestro método de depuración corrige algunos errores e inconsistencias encontrados en los datos en bruto. Sin embargo, ten en cuenta que los datos mostrados para este municipio reflejan las mejores estimaciones disponibles, basadas en muestras grandes de establecimientos y fuentes oficiales, y requieren una consideración cuidadosa antes de ser utilizados.

                Puedes encontrar más información sobre los datos de MuniData en la página de Preguntas Frecuentes (FAQ).
                
                Puedes ayudar a mejorar nuestros datos enviando sugerencias o informando errores <a href="#">aquí</a>.</p>
        </div>
    </div>

    <!-- Metodologia Popup -->
    <div id="metodologiaPopup" class="popup">
        <div class="popup-content">
            <span class="close" id="closeMetodologiaPopup">&times;</span>
            <br>
            <h4>Metodologia</h4>
            <p>En MuniData, la calidad de los datos es nuestra prioridad. Por ello, hemos diseñado una metodología robusta para la recolección y procesamiento de la información. Utilizamos fuentes primarias de instituciones oficiales y complementamos con fuentes secundarias de investigaciones y reportes confiables. Todos los datos son cuidadosamente normalizados y verificados para asegurar su precisión y coherencia, permitiéndote confiar plenamente en la información que utilizas.</p>
            <a class="btn" href="#">Descarga</a>
        </div>
    </div>

    <!-- Compartir Popup 2 -->
    <div id="sharePopup2" class="popup2">
        <div class="popup-content">
            <span class="close" id="closeSharePopup2">&times;</span>
            <br>
            <p>Difunde la información relevante con tus colegas, comunidad, o audiencia. Con MuniData, puedes compartir gráficos, mapas y perfiles municipales de manera fácil y rápida a través de redes sociales, enlaces directos, o descargas de datos. </p>
            <!-- Añade tus opciones para compartir aquí -->
        </div>
    </div>

    <!-- Guia Popup  2-->
    <div id="guiaPopup2" class="popup2">
        <div class="popup-content">
            <span class="close" id="closeGuiaPopup2">&times;</span>
            <br>
            <h4>Guía de Datos</h4>
            <p>La Guía de Datos de MuniData está diseñada para ayudarte a interpretar y aprovechar al máximo la información disponible. Aquí encontrarás definiciones claras de cada indicador, explicaciones sobre su origen y metodología, así como consejos prácticos para su aplicación en la toma de decisiones y la formulación de políticas públicas. Navegar por los datos nunca ha sido tan intuitivo y accesible.</p>
            <p>Debido a la limitada, retrasada o inexacta recolección de información, así como a una muestra limitada y potencialmente sesgada, los datos para este municipio pueden contener inexactitudes. Nuestro método de depuración corrige algunos errores e inconsistencias encontrados en los datos en bruto. Sin embargo, ten en cuenta que los datos mostrados para este municipio reflejan las mejores estimaciones disponibles, basadas en muestras grandes de establecimientos y fuentes oficiales, y requieren una consideración cuidadosa antes de ser utilizados.

                Puedes encontrar más información sobre los datos de MuniData en la página de Preguntas Frecuentes (FAQ).
                
                Puedes ayudar a mejorar nuestros datos enviando sugerencias o informando errores <a href="#">aquí</a>.</p>
        </div>
    </div>

    <!-- Metodologia Popup 2-->
    <div id="metodologiaPopup2" class="popup2">
        <div class="popup-content">
            <span class="close" id="closeMetodologiaPopup2">&times;</span>
            <br>
            <h4>Metodologia</h4>
            <p>En MuniData, la calidad de los datos es nuestra prioridad. Por ello, hemos diseñado una metodología robusta para la recolección y procesamiento de la información. Utilizamos fuentes primarias de instituciones oficiales y complementamos con fuentes secundarias de investigaciones y reportes confiables. Todos los datos son cuidadosamente normalizados y verificados para asegurar su precisión y coherencia, permitiéndote confiar plenamente en la información que utilizas.</p>
            <a class="btn" href="#">Descarga</a>
        </div>
    </div>

    <div class="px-5" style="background-color: #edf0f6; min-height: 100vh; height: auto;">
        <div class="row w-100">
            <div class="col-lg-12">
                <div class="row align-items-center justify-content-between box_shadow_section_2" >
                    <div class="col-lg-5">
                        <select name="municipio" id="municipios" class="select-municipios" onchange="redirectToMunicipio()">
                            <option value="actual">{{municipio.departamento}} / {{municipio.municipio}}</option>
                            {% for municipio_completo in collections.municipio %}
                            {% if page.url == municipio_completo.url%}
                            {% else %}
                            <option value="{{municipio_completo.url}}">{{municipio_completo.data.municipio.departamento}} / {{municipio_completo.data.municipio.municipio}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>                        
                    </div>
                    <div class="col-lg-7 responsive-none">
                        <div class="row justify-content-end ">
                            <div class="col-lg-3">
                                <button id="shareButton" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-49.png">Compartir</button>
                            </div>
                            <div class="col-lg-3">
                                <button id="expandButton" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-50.png">Expandir</button>
                            </div>
                            <div class="col-lg-3">
                                <button id="guiaButton" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-51.png">Guía de Datos</button>
                            </div>
                            <div class="col-lg-3">
                                <button id="metodologiaButton" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-52.png">Metodología</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 responsive-flex">
                        <button id="shareButton2" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-49.png"></button>

                        <button id="expandButton2" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-50.png"></button>

                        <button id="guiaButton2" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-51.png"></button>
                
                        <button id="metodologiaButton2" class="header-buttons"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-52.png"></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 my-2">
                <div class="sidebar box_shadow_section">
                    <select id="responsive-tabs" class="tab-dropdown d-lg-none">
                      <option value="#general">General</option>
                      <option value="#gestion-municipal">Gestión Municipal</option>
                      <option value="#transparencia">Transparencia</option>
                      <option value="#nutricion">Nutrición</option>
                      <option value="#pobreza">Pobreza</option>
                      <option value="#finanzas">Finanzas</option>
                      <option value="#poblacion">Población</option>
                      <option value="#educacion">Educación</option>
                      <option value="#economia">Economía</option>
                      <option value="#salud">Salud</option>
                      <option value="#hogar">Hogar</option>
                      <option value="#vivienda">Vivienda</option>
                    </select>
                    
                    <ul class="semicircle-menu d-none d-lg-block" style="padding: 10px 0;">
                      <li><a href="#" class="tab-link active" data-target="#general"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-30.png">General</a></li>
                      <li><a href="#" class="tab-link" data-target="#gestion-municipal"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-31.png">Gestión Municipal</a></li>
                      <li><a href="#" class="tab-link" data-target="#transparencia"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-32.png">Transparencia</a></li>
                      <li><a href="#" class="tab-link" data-target="#nutricion"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-33.png">Nutrición</a></li>
                      <li><a href="#" class="tab-link" data-target="#pobreza"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-34.png">Pobreza</a></li>
                      <li><a href="#" class="tab-link" data-target="#finanzas"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-35.png">Finanzas</a></li>
                      <li><a href="#" class="tab-link" data-target="#poblacion"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-46.png">Población</a></li>
                      <li><a href="#" class="tab-link" data-target="#educacion"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-35.png">Educación</a></li>
                      <li><a href="#" class="tab-link" data-target="#economia"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-33.png">Economía</a></li>
                      <li><a href="#" class="tab-link" data-target="#salud"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-34.png">Salud</a></li>
                      <li><a href="#" class="tab-link" data-target="#hogar"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-46.png">Hogar</a></li>
                      <li><a href="#" class="tab-link" data-target="#vivienda"><img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-35.png">Vivienda</a></li>
                    </ul>
                  </div>                  
            </div>
          
            <div class="col-lg-10 my-2">
                <div id="tab-content w-100">

                    <section id="general" class="tab-content active">
                        <div class="container box_shadow_section ud-section ">
                            <div class="row align-items-center mb-2 px-2">

                                <div class="col-lg-12">
                                    <div class="row ">
                                        <div class="col-lg-4">
                                            <div id="map" style="width: 100%; height: 300px;"></div>
                                        </div>
                                        <div class="col-lg-8 align-items-center d-flex">
                                            <div>
                                                <h3 class="mb-2 px-4">
                                                    {{municipio.departamento}} - {{municipio.municipio}}
                                                </h3>
                                                <p class="px-4">
                                                    {{municipio.resumen.Resumen}}
                                                    <span class="info-icon-container">
                                                        <i class="fas fa-info-circle info-icon"></i>
                                                        <span class="popup">
                                                            {{municipio.resumen.Fuente}}
                                                        </span>
                                                    </span>     
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="container  p-2">
                            <div class="row align-items-center mb-2">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4 my-2 ud-section">
                                            <div class="section_text">
                                                <img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-46.png">
                                                <div class="text">
                                                    <h4>Población total</h4>
                                                    {% set pobtotal = municipio.poblacion_sexo.Hombres + municipio.poblacion_sexo.Mujeres %}
                                                    <h1>{{pobtotal}}</h1>
                                                    <h4 class="mb-2">habitantes</h4>
                
                                                    <p>Fuente: Instituto Nacional de Estadística (INE)</p>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        <div class="col-lg-4 my-2 ud-section">
                                            <div class="section_text">
                                                <img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-47.png">
                                                <div class="text">
                                                    <h4 >Desnutrición Crónica Total</h4>
                                                    <h1 class="mb-2">{{municipio.desnutricion['2019']['Crónica']}}</h1>
                
                                                    <p>Fuente: Ministerio de salud pública y asistencia social (MSPAS) 2019</p>
                                                </div>
                                            </div>
                                            
                                        </div>
        
                                        <div class="col-lg-4 my-2 ud-section">
                                            <div class="section_text">
                                                <img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-48.png">
                                                <div class="text">
                                                    <h4 >Desnutrición Aguda Total</h4>
                                                    <h1 class="mb-2">{{municipio.desnutricion['2019']['Aguda']}}</h1>
                
                                                    <p>Fuente: Ministerio de salud pública y asistencia social (MSPAS) 2019</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </section>

                    <section id="gestion-municipal" class="tab-content">
                        <div class="row  mb-4">
                            <div class="col-lg-12">
                                <div class="row ">
                                    
                                    <div class="col-lg-4 mb-4">
                                        <div class="section_text_2">
                                            <div class="text">
                                                <h3 >Índice de Gestión Municipal</h3>
                                                <h1 class="mb-4">{{municipio.gestion.Promediosegeplan | limitNumberLength(4)}}</h1>

                                                <p>Fuente: Secretaría de Planificación y Programación de la Presidencia (SEGEPLAN) 2018</p>
                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mb-4">
                                        <div class="section_text_2">
                                            <!-- Añadir un canvas para la gráfica -->
                                            <canvas id="gestionMunicipalChart"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Secretaría de Planificación y Programación de la Presidencia (SEGEPLAN)</p>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="col-lg-6 mb-4">
                                        <div class="section_text_2">
                                            <h5 class="text-center">Población total por sexo</h5>
                                        
                                            <canvas id="poblacionSexoChart"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Instituto Nacional de Estadística (INE)</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="col-lg-6 mb-4">
                                        <div class="section_text_2">
                                            <h5 class="text-center">Población total por área</h5>
                                            
                                            <canvas id="poblacionAreaChart"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Instituto Nacional de Estadística (INE)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="transparencia" class="tab-content">
                        <div class="row mb-4">
                            <div class="col-lg-12">
                                <div class="row ">
                                    <div class="col-lg-4 mb-4">
                                        <div class="section_text_2">
                                            <div class="text">
                                                <h3 >Acceso a la información pública</h3>
                                                <h1 class="mb-4">{{municipio.transparencia.aipPromedio | limitNumberLength(5)}} %</h1>

                                                <p>Fuente: Procuraduría de los Derechos Humanos (PDH) 2019</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mb-4">
                                        <div class="section_text_2">
                                            <!-- Añadir un canvas para la gráfica -->
                                            <canvas id="transparenciaChart"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Procuraduría de Derechos Humanos (PDH)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="nutricion" class="tab-content">
                        <div class="row mb-4">

                            <div class="col-lg-12">
                                <div class="row ">
                                    <div class="col-lg-4 mb-4">
                                        <div class="section_text_2_5">
                                            <img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-47.png">
                                            <div class="text">
                                                <h3 >Desnutrición Crónica Total</h3>
                                                <h1 >{{municipio.desnutricion['2019']['Crónica']}} </h1>
                                                <h3 class="mb-4">casos</h3>

                                                <p>Fuente: Ministerio de salud pública y asistencia social (MSPAS) 2019</p>
                                            </div>
                                        </div>
                                        
                                        <div class="section_text_2_5">
                                            <img src="/assets/images/municipio/01_ELEMENTOS LAB/01_ICONOS/LAB MUNICIPAL_01-48.png">
                                            <div class="text">
                                                <h3 >Desnutrición Aguda Total</h3>
                                                <h1 >{{municipio.desnutricion['2019']['Aguda']}} </h1>
                                                <h3 class="mb-4">casos</h3>

                                                <p>Fuente: Ministerio de salud pública y asistencia social (MSPAS) 2019</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-8 mb-4">
                                        <div class="section_text_2">
                                            <!-- Añadir un canvas para la gráfica -->
                                            <h4>Casos de Desnutrición por Año</h4>
                                            <canvas id="desnutricionChart"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Ministerio de salud pública y asistencia social (MSPAS)</p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-8 mb-2">
                                        <div class="section_text_2">
                                            <!-- Añadir un canvas para la gráfica -->
                                            <h4>Casos de Desnutrición por Edad de 2019</h4>
                                            <canvas id="desnutricionChartEdadSexo"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Ministerio de salud pública y asistencia social (MSPAS)</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-4">
                                        <div class="section_text_2">
                                            <h4>Casos de Desnutrición Crónica por sexo de 2019</h4>
                                            <canvas id="desnutricionPieChartSexo"></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Ministerio de salud pública y asistencia social (MSPAS)</p>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="pobreza" class="tab-content">
                        <div class="row align-items-center mb-4">
                            <div class="col-lg-12">
                                <div class="row ">
                                    <div class="col-lg-4 mb-4">
                                        <div class="section_text_2">
                                            <div class="text">
                                                <h3 >Índice de Pobreza Multidimensional</h3>
                                                <h1 class="mb-4">{{municipio.pobreza.ipm2014 | limitNumberLength(5)}}</h1>

                                                <p>Fuente: Programa de las Naciones Unidas para el Desarrollo (PNUD) 2014</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 mb-4">
                                        <div class="section_text_2">
                                            <!-- Añadir un canvas para la gráfica -->
                                            <canvas id="pobrezaChart" ></canvas>
                                            <div class="text">
                                                <p class="text-center">Fuente: Programa de las Naciones Unidas para el Desarrollo (PNUD)</p>
                                            </div>
                                        </div>                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="finanzas" class="tab-content">
                        <div class="row">
                        </div>
                    </section>

                    <section id="poblacion" class="tab-content">
                        <div class="row ">
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <div class="text">
                                        <h4>Población total</h4>
                                        {% set pobtotal = municipio.poblacion_sexo.Hombres + municipio.poblacion_sexo.Mujeres %}
                                        <h2>{{pobtotal}}</h2>
                                        <h4 class="mb-4">habitantes</h4>

                                        <p>Fuente: Instituto Nacional de Estadística (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por sexo</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionSexoChart2"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por sexo</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionAreaChart2"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por grupos quinquenales de edad</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEdadChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por grupos quinquenales de edad</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionParentezcoChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <div class="text">
                                        <h4 >Población de 10 años y más</h4>
                                        <h2>{{municipio.poblacion_estado_conyugal.pob10ymas}}</h2>
                                        <h4 class="mb-4">habitantes</h4>

                                        <p>Fuente: Instituto Nacional de Estadística (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población de 10 años y más por estado conyugal</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEstadoConyugalChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por lugar de nacimiento y lugar de residencia en abril del 2013</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionResidenciaChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <div class="text">
                                        <h4 >Total de poblacion pueblo maya</h4>
                                        <h2>{{municipio.poblacion_pueblo.maya}}</h2>
                                        <h4 class="mb-4">habitantes</h4>

                                        <p>Fuente: Instituto Nacional de Estadística (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población total por pueblos</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionPuebloChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="educacion" class="tab-content">
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <div class="text">
                                        <h4>Población de 4 a 29 años que no asiste a un establecimiento educativo</h4>
                                        <h2>{{municipio.poblacion_no_asiste.total}}</h2>
                                        <h4 class="mb-4">habitantes</h4>

                                        <p>Fuente: Instituto Nacional de Estadística (INE)</p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población de 7 años o más con alfabetismo</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionAlfabetismoChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Asistencia escolar</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionAsistenciaEscolarChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población de 4 años y más por nivel educativo</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionNivelEducativoChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Causa principal de inasistencia</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionAsistenciaChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Lugar de estudio</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionLugarEstudioChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="economia" class="tab-content">
                        <div class="row">
                            
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Uso de celular</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionUsoCelularChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Uso de computadora</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionUsoComputadoraChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Uso de internet</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionUsoInternetChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Uso de celular, computadora y/o internet</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionUsoTodoChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población económicamente activa e inactiva</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEconomicamenteChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Población económicamente inactiva</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEconomicamenteInactivaChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Condición de actividad</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEconomicamenteActivaChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 mb-4">
                                <div class="section_text_2">
                                    <h5 class="text-center">Lugar de trabajo</h5>
                                    <!-- Añadir un canvas para la gráfica -->
                                    <canvas id="poblacionEconomicamenteActivaLugarChart"></canvas>
                                    <div class="text">
                                        <p class="text-center">Fuente: Instituto Nacional de Estadistica (INE)</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section id="salud" class="tab-content">
                        <div class="row">
                        </div>
                    </section>
                    
                    <section id="hogar" class="tab-content">
                        <div class="row">
                        </div>
                    </section>

                    <section id="vivienda" class="tab-content">
                        <div class="row">
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_javascripts%}
<script>
    function redirectToMunicipio() {
        const select = document.getElementById('municipios');
        const url = select.value;

        if (url !== "actual") { // Evita redirigir si es la opción actual o algún valor que no sea una URL
            window.location.href = url;
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabLinks = document.querySelectorAll(".tab-link");
        const tabContents = document.querySelectorAll(".tab-content");
        const dropdown = document.getElementById("responsive-tabs");

        // Función para manejar el cambio de tabs
        function changeTab(event) {
            event.preventDefault();
            tabLinks.forEach(link => link.classList.remove("active"));
            tabContents.forEach(content => content.classList.remove("active"));

            this.classList.add("active");
            const target = document.querySelector(this.getAttribute("data-target"));
            target.classList.add("active");
        }

        // Función para manejar el cambio en el select dropdown
        function changeTabFromDropdown() {
            const target = document.querySelector(this.value);
            tabLinks.forEach(link => link.classList.remove("active"));
            tabContents.forEach(content => content.classList.remove("active"));
            target.classList.add("active");
        }

        // Asignar el evento de clic a cada enlace de tab
        tabLinks.forEach(link => link.addEventListener("click", changeTab));

        // Asignar el evento de cambio al dropdown
        dropdown.addEventListener("change", changeTabFromDropdown);
    });

</script>
  
<script>
    // Compartir Popup
    var shareButton = document.getElementById('shareButton');
    var sharePopup = document.getElementById('sharePopup');
    var closeSharePopup = document.getElementById('closeSharePopup');

    shareButton.onclick = function() {
        sharePopup.style.display = "block";
    }

    closeSharePopup.onclick = function() {
        sharePopup.style.display = "none";
    }

    // Expandir Pantalla
    var expandButton = document.getElementById('expandButton');
    expandButton.onclick = function() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen();
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }
    }

    // Guia Popup
    var guiaButton = document.getElementById('guiaButton');
    var guiaPopup = document.getElementById('guiaPopup');
    var closeGuiaPopup = document.getElementById('closeGuiaPopup');

    guiaButton.onclick = function() {
        guiaPopup.style.display = "block";
    }

    closeGuiaPopup.onclick = function() {
        guiaPopup.style.display = "none";
    }

    // Metodologia Popup
    var metodologiaButton = document.getElementById('metodologiaButton');
    var metodologiaPopup = document.getElementById('metodologiaPopup');
    var closeMetodologiaPopup = document.getElementById('closeMetodologiaPopup');

    metodologiaButton.onclick = function() {
        metodologiaPopup.style.display = "block";
    }

    closeMetodologiaPopup.onclick = function() {
        metodologiaPopup.style.display = "none";
    }

    // Cerrar popups al hacer clic fuera de ellos
    window.onclick = function(event) {
        if (event.target == sharePopup) {
            sharePopup.style.display = "none";
        }
        if (event.target == guiaPopup) {
            guiaPopup.style.display = "none";
        }
        if (event.target == metodologiaPopup) {
            metodologiaPopup.style.display = "none";
        }
    }
</script>

<script>
    // Compartir Popup
    var shareButton2 = document.getElementById('shareButton2');
    var sharePopup2 = document.getElementById('sharePopup2');
    var closeSharePopup2 = document.getElementById('closeSharePopup2');

    shareButton2.onclick = function() {
        sharePopup2.style.display = "block";
    }

    closeSharePopup2.onclick = function() {
        sharePopup2.style.display = "none";
    }

    // Expandir Pantalla
    var expandButton2 = document.getElementById('expandButton2');
    expandButton2.onclick = function() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen();
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }
    }

    // Guia Popup
    var guiaButton2 = document.getElementById('guiaButton2');
    var guiaPopup2 = document.getElementById('guiaPopup2');
    var closeGuiaPopup2 = document.getElementById('closeGuiaPopup2');

    guiaButton2.onclick = function() {
        guiaPopup2.style.display = "block";
    }

    closeGuiaPopup2.onclick = function() {
        guiaPopup2.style.display = "none";
    }

    // Metodologia Popup
    var metodologiaButton2 = document.getElementById('metodologiaButton2');
    var metodologiaPopup2 = document.getElementById('metodologiaPopup2');
    var closeMetodologiaPopup2 = document.getElementById('closeMetodologiaPopup2');

    metodologiaButton2.onclick = function() {
        metodologiaPopup2.style.display = "block";
    }

    closeMetodologiaPopup2.onclick = function() {
        metodologiaPopup2.style.display = "none";
    }

    // Cerrar popups al hacer clic fuera de ellos
    window.onclick = function(event) {
        if (event.target == sharePopup2) {
            sharePopup2.style.display = "none";
        }
        if (event.target == guiaPopup2) {
            guiaPopup2.style.display = "none";
        }
        if (event.target == metodologiaPopup2) {
            metodologiaPopup2.style.display = "none";
        }
    }
</script>

<!-- Incluir los datos de geometría como JSON -->
<script id="geometry-data" type="application/json">
    {{ municipio.geometry | dump | safe }}
</script>

<script>
    // Inicializar el mapa
    var map = L.map('map');

    // Agregar la capa de mosaico de OpenStreetMap con un estilo más oscuro
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors',
      opacity: 0.3 // Hacer la capa base más oscura
    }).addTo(map);

    // Obtener los datos de geometría del script JSON
    var geojsonData = JSON.parse(document.getElementById('geometry-data').textContent);

    var geojsonStyle = {
      color: 'white',     // Contorno blanco
      weight: 2,          // Ancho del contorno
      fillColor: '#6fd0bb',  // Relleno azul
      fillOpacity: 0.8    // Opacidad del relleno
    };

    // Agregar la geometría al mapa con el estilo definido
    var geojsonLayer = L.geoJSON(geojsonData, {
      style: geojsonStyle
    }).addTo(map);

    // Ajustar la vista del mapa para centrar la geometría del municipio
    map.fitBounds(geojsonLayer.getBounds());

    // Crear un botón personalizado para redirigir a la página del mapa general
    var homeButton = L.control({ position: 'topleft' });

    homeButton.onAdd = function(map) {
    var div = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
    div.innerHTML = '<a href="/mapa/index.html" title="Ir al Mapa General" style="display: block; width: 30px; height: 30px; background: url(\'https://cdn-icons-png.flaticon.com/512/25/25694.png\') no-repeat center; background-size: 16px 16px;"></a>';
    return div;
    };

    homeButton.addTo(map);
</script>

{% if municipio.poblacion_sexo.Rural == "-" %}
  {% set ruralidad = 0 %}
{% else %}
  {% set ruralidad = municipio.poblacion_sexo.Rural %}
{% endif %}
{% if municipio.poblacion_sexo.Urbana == "-" %}
  {% set urbanidad = 0 %}
{% else %}
  {% set urbanidad = municipio.poblacion_sexo.Urbana %}
{% endif %}

<!-- Incluir datos en un elemento script oculto -->
<script id="municipio-data" type="application/json">
  {
    "hombres": {{ municipio.poblacion_sexo.Hombres | safe }},
    "mujeres": {{ municipio.poblacion_sexo.Mujeres | safe }},
    "urbana": {{ urbanidad | safe }},
    "rural": {{ ruralidad | safe }},
    "pob0a4": {{ municipio.poblacion_sexo.pob0a4 | safe }},
    "pob5a9": {{ municipio.poblacion_sexo.pob5a9 | safe }},
    "pob10a14": {{ municipio.poblacion_sexo.pob10a14 or 0 | safe }},
    "pob15a19": {{ municipio.poblacion_sexo.pob15a19 or 0 | safe }},
    "pob20a24": {{ municipio.poblacion_sexo.pob20a24 or 0 | safe }},
    "pob25a29": {{ municipio.poblacion_sexo.pob25a29 or 0 | safe }},
    "pob30a34": {{ municipio.poblacion_sexo.pob30a34 or 0 | safe }},
    "pob35a39": {{ municipio.poblacion_sexo.pob35a39 or 0 | safe }},
    "pob40a44": {{ municipio.poblacion_sexo.pob40a44 or 0 | safe }},
    "pob45a49": {{ municipio.poblacion_sexo.pob45a49 or 0 | safe }},
    "pob50a54": {{ municipio.poblacion_sexo.pob50a54 or 0 | safe }},
    "pob55a59": {{ municipio.poblacion_sexo.pob55a59 or 0 | safe }},
    "pob60a64": {{ municipio.poblacion_sexo.pob60a64 or 0 | safe }},
    "pob65a69": {{ municipio.poblacion_sexo.pob65a69 or 0 | safe }},
    "pob70a74": {{ municipio.poblacion_sexo.pob70a74 or 0 | safe }},
    "pob75a79": {{ municipio.poblacion_sexo.pob75a79 or 0 | safe }},
    "pob80a84": {{ municipio.poblacion_sexo.pob80a84 or 0 | safe }},
    "pob85a89": {{ municipio.poblacion_sexo.pob85a89 or 0 | safe }},
    "pob90a94": {{ municipio.poblacion_sexo.pob90a94 or 0 | safe }},
    "pob95a99": {{ municipio.poblacion_sexo.pob95a99 or 0 | safe }}
  }
</script>

<script id="gestion-data" type="application/json">
	{
	  "segeplan2013": {{ municipio.gestion.segeplan2013 | safe }},
	  "segeplan2016": {{ municipio.gestion.segeplan2016 | safe }},
	  "segeplan2018": {{ municipio.gestion.segeplan2018 | safe }}
	}
</script>

<script id="transparencia-data" type="application/json">
	{
	  "aip2015": {{ municipio.transparencia.aip2015 | safe }},
	  "aip2017": {{ municipio.transparencia.aip2017 | safe }},
	  "aip2019": {{ municipio.transparencia.aip2019 | safe }}
	}
</script>

<script id="desnutricion-data" type="application/json">
	{
	  "cronica2012": {{ municipio.desnutricion['2012']['Crónica'] or 0 | safe }},
      "cronica2013": {{ municipio.desnutricion['2013']['Crónica'] or 0 | safe }},
      "cronica2014": {{ municipio.desnutricion['2014']['Crónica'] or 0 | safe }},
      "cronica2015": {{ municipio.desnutricion['2015']['Crónica'] or 0 | safe }},
      "cronica2016": {{ municipio.desnutricion['2016']['Crónica'] or 0 | safe }},
      "cronica2017": {{ municipio.desnutricion['2017']['Crónica'] or 0 | safe }},
      "cronica2018": {{ municipio.desnutricion['2018']['Crónica'] or 0 | safe }},
      "cronica2019": {{ municipio.desnutricion['2019']['Crónica'] or 0 | safe }},
      "aguda2012": {{ municipio.desnutricion['2012']['Aguda'] or 0 | safe }},
      "aguda2013": {{ municipio.desnutricion['2013']['Aguda'] or 0 | safe }},
      "aguda2014": {{ municipio.desnutricion['2014']['Aguda'] or 0 | safe }},
      "aguda2015": {{ municipio.desnutricion['2015']['Aguda'] or 0 | safe }},
      "aguda2016": {{ municipio.desnutricion['2016']['Aguda'] or 0 | safe }},
      "aguda2017": {{ municipio.desnutricion['2017']['Aguda'] or 0 | safe }},
      "aguda2018": {{ municipio.desnutricion['2018']['Aguda'] or 0 | safe }},
      "aguda2019": {{ municipio.desnutricion['2019']['Aguda'] or 0 | safe }}
	}
</script>

<script id="desnutricion-data-edad-sexo" type="application/json">
	{
	  "cronicafem1mes": {{ municipio.desnutricion_cronica.fem1mes or 0 }},
      "cronicamasc1mes": {{ municipio.desnutricion_cronica.masc1mes or 0 }},
      "cronicafem1a2mes": {{ municipio.desnutricion_cronica.fem1a2mes or 0 }},
      "cronicamasc1a2mes": {{ municipio.desnutricion_cronica.masc1a2mes or 0 }},
      "cronicafem2a1ano": {{ municipio.desnutricion_cronica.fem2a1ano or 0 }},
      "cronicamasc2a1ano": {{ municipio.desnutricion_cronica.masc2a1ano or 0 }},
      "cronicafem1a4ano": {{ municipio.desnutricion_cronica.fem1a4ano or 0 }},
      "cronicamasc1a4ano": {{ municipio.desnutricion_cronica.masc1a4ano or 0 }},
      "agudafem1mes": {{ municipio.desnutricion_aguda.fem1mes or 0 }},
      "agudamasc1mes": {{ municipio.desnutricion_aguda.masc1mes or 0 }},
      "agudafem1a2mes": {{ municipio.desnutricion_aguda.fem1a2mes or 0 }},
      "agudamasc1a2mes": {{ municipio.desnutricion_aguda.masc1a2mes or 0 }},
      "agudafem2a1ano": {{ municipio.desnutricion_aguda.fem2a1ano or 0 }},
      "agudamasc2a1ano": {{ municipio.desnutricion_aguda.masc2a1ano or 0 }},
      "agudafem1a4ano": {{ municipio.desnutricion_aguda.fem1a4ano or 0 }},
      "agudamasc1a4ano": {{ municipio.desnutricion_aguda.masc1a4ano or 0 }}
	}
</script>

<script id="pobreza-data" type="application/json">
	{
	  "ipm2006": {{ municipio.pobreza.ipm2006 | limitNumberLength(5) | safe }},
	  "ipm2011": {{ municipio.pobreza.ipm2011 | limitNumberLength(5) | safe }},
	  "ipm2014": {{ municipio.pobreza.ipm2014 | limitNumberLength(5) | safe }}
	}
</script>

<script id="poblacion-parentezco-data" type="application/json">
	{
	  "jefe": {{ municipio.poblacion_parentesco.jefe or 0 }},
      "esposo": {{ municipio.poblacion_parentesco.esposo or 0 }},
      "hijo": {{ municipio.poblacion_parentesco.hijo or 0 }},
      "nuerooyerno": {{ municipio.poblacion_parentesco.nuerooyerno or 0 }},
      "nieto": {{ municipio.poblacion_parentesco.nieto or 0 }},
      "hermano": {{ municipio.poblacion_parentesco.hermano or 0 }},
      "padre": {{ municipio.poblacion_parentesco.padre or 0 }},
      "suegro": {{ municipio.poblacion_parentesco.suegro or 0 }},
      "cunado": {{ municipio.poblacion_parentesco.cunado or 0 }},
      "otro": {{ municipio.poblacion_parentesco.otro or 0 }}
	}
</script>

<script id="poblacion-estado-conyugal-data" type="application/json">
	{
	  "soltero": {{ municipio.poblacion_estado_conyugal.soltero or 0 }},
      "unido": {{ municipio.poblacion_estado_conyugal.unido or 0 }},
      "casado": {{ municipio.poblacion_estado_conyugal.casado or 0 }},
      "separado": {{ municipio.poblacion_estado_conyugal.separado or 0 }},
      "divorciado": {{ municipio.poblacion_estado_conyugal.divorciado or 0 }},
      "viudo": {{ municipio.poblacion_estado_conyugal.viudo or 0 }}
	}
</script>

<script id="poblacion-residencia-data" type="application/json">
	{
	  "mun": {{ municipio.poblacion_residencia.municipio or 0 }},
      "otromun": {{ municipio.poblacion_residencia.otromun or 0 }},
      "otropais": {{ municipio.poblacion_residencia.otropais or 0 }},
      "nd": {{ municipio.poblacion_residencia.nodeclarado or 0 }}
	}
</script>

<script id="poblacion-pueblo-data" type="application/json">
	{
	  "maya": {{ municipio.poblacion_pueblo.maya or 0 }},
      "xinca": {{ municipio.poblacion_pueblo.xinca or 0 }},
      "garifuna": {{ municipio.poblacion_pueblo.garifuna or 0 }},
      "afro": {{ municipio.poblacion_pueblo.afro or 0 }},
      "ladino": {{ municipio.poblacion_pueblo.ladino or 0 }},
      "extranjero": {{ municipio.poblacion_pueblo.extranjero or 0 }}
	}
</script>

<script id="poblacion-nivel-educativo" type="application/json">
	{
	  "preprimaria": {{ municipio.poblacion_nivel_educativo.preprimaria or 0 }},
      "primaria1a3": {{ municipio.poblacion_nivel_educativo.primaria1a3 or 0 }},
      "primaria4a5": {{ municipio.poblacion_nivel_educativo.primaria4a5 or 0 }},
      "primaria6": {{ municipio.poblacion_nivel_educativo.primaria6 or 0 }},
      "labasicodino": {{ municipio.poblacion_nivel_educativo.basico or 0 }},
      "diversificado": {{ municipio.poblacion_nivel_educativo.diversificado or 0 }},
      "licenciatura": {{ municipio.poblacion_nivel_educativo.licenciatura or 0 }},
      "maestriaodoctorado": {{ municipio.poblacion_nivel_educativo.maestriaodoctorado or 0 }}
	}
</script>

<script id="poblacion-alfabetismo" type="application/json">
	{
	  "hombres": {{ municipio.poblacion_alfabetismo.hombres or 0 }},
      "mujeres": {{ municipio.poblacion_alfabetismo.mujeres or 0 }},
      "asiste": {{ municipio.poblacion_alfabetismo.asiste or 0 }},
      "noasiste": {{ municipio.poblacion_alfabetismo.noasiste or 0 }},
      "municipio": {{ municipio.poblacion_alfabetismo.municipio or 0 }},
      "otromunicipio": {{ municipio.poblacion_alfabetismo.otromunicipio or 0 }},
      "otropais": {{ municipio.poblacion_alfabetismo.otropais or 0 }},
      "nodeclarado": {{ municipio.poblacion_alfabetismo.nodeclarado or 0 }}
	}
</script>

<script id="poblacion-asistencia" type="application/json">
	{
	  "faltadinero": {{ municipio.poblacion_no_asiste.faltadinero or 0 }},
      "tienetrabajar": {{ municipio.poblacion_no_asiste.tienetrabajar or 0 }},
      "noescuela": {{ municipio.poblacion_no_asiste.noescuela or 0 }},
      "padresimpiden": {{ municipio.poblacion_no_asiste.padresimpiden or 0 }},
      "quehaceres": {{ municipio.poblacion_no_asiste.quehaceres or 0 }},
      "nogusta": {{ municipio.poblacion_no_asiste.nogusta or 0 }},
      "termino": {{ municipio.poblacion_no_asiste.termino or 0 }},
      "otra": {{ municipio.poblacion_no_asiste.otra or 0 }},
      "nodeclarada": {{ municipio.poblacion_no_asiste.nodeclarada or 0 }}
	}
</script>

<script id="poblacion-electronicos" type="application/json">
	{
	  "celular": {{ municipio.poblacion_electronicos.celular or 0 }},
      "nocelular": {{ municipio.poblacion_electronicos.nocelular or 0 }},
      "nacelular": {{ municipio.poblacion_electronicos.nacelular or 0 }},
      "computadora": {{ municipio.poblacion_electronicos.computadora or 0 }},
      "nocomputadora": {{ municipio.poblacion_electronicos.nocomputadora or 0 }},
      "nacomputadora": {{ municipio.poblacion_electronicos.nacomputadora or 0 }},
      "internet": {{ municipio.poblacion_electronicos.internet or 0 }},
      "nointernet": {{ municipio.poblacion_electronicos.nointernet or 0 }},
      "nainternet": {{ municipio.poblacion_electronicos.nainternet or 0 }},
      "usatodo": {{ municipio.poblacion_electronicos.usatodo or 0 }},
      "usaceyco": {{ municipio.poblacion_electronicos.usaceyco or 0 }},
      "usaceei": {{ municipio.poblacion_electronicos.usaceei or 0 }},
      "usacoei": {{ municipio.poblacion_electronicos.usacoei or 0 }}
	}
</script>

<script id="poblacion-economicamente" type="application/json">
	{
	  "totalpea": {{ municipio.poblacion_activaeconomicamente.totalpea or 0 }},
      "totalpei": {{ municipio.poblacion_activaeconomicamente.totalpei or 0 }},
      "peiestudio": {{ municipio.poblacion_activaeconomicamente.peiestudio or 0 }},
      "peijub": {{ municipio.poblacion_activaeconomicamente.peijub or 0 }},
      "peihogar": {{ municipio.poblacion_activaeconomicamente.peihogar or 0 }},
      "peicuidado": {{ municipio.poblacion_activaeconomicamente.peicuidado or 0 }},
      "peicomunitario": {{ municipio.poblacion_activaeconomicamente.peicomunitario or 0 }},
      "peiotra": {{ municipio.poblacion_activaeconomicamente.peiotra or 0 }},
      "peina": {{ municipio.poblacion_activaeconomicamente.peina or 0 }},
      "peaocupada": {{ municipio.poblacion_activaeconomicamente.peaocupada or 0 }},
      "peacesante": {{ municipio.poblacion_activaeconomicamente.peacesante or 0 }},
      "peaaspirante": {{ municipio.poblacion_activaeconomicamente.peaaspirante or 0 }},
      "trabmun": {{ municipio.poblacion_activaeconomicamente.trabmun or 0 }},
      "trabotromun": {{ municipio.poblacion_activaeconomicamente.trabotromun or 0 }},
      "trabotropais": {{ municipio.poblacion_activaeconomicamente.trabotropais or 0 }},
      "trabna": {{ municipio.poblacion_activaeconomicamente.trabna or 0 }}
	}
</script>

<script src="/assets/js/municipio.js"></script>
{% endblock %}